
.videoCard {
    color: white;
    width: 300px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms;
}

.videoCard:hover {
    transform: scale(1.09);
}

.videoCard > img {
    height: 300px;
    object-fit: contain;
    width: 300px;
}

.videoCard >  h2 {
    padding-top:10px;
}


.videoCard__stats {
    display: none;
}

.videoCard:hover > .videoCard__stats {
    display: inline;
}


@media (max-width: 700px) {
  .videoCard > img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .nav h2 {
    font-size: 15px;
  }
}




