.movieCard{
  color: white;
  width: 300px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms;
}

.movieCard__stats{
  display: none;
    align-items: center;
    justify-content: space-between;
}


.movieCard :hover{
  transform: scale(1.09);
}


.movieCard :hover > .movieCard__stats {
  display: inline;

}

.movieCard > img {
  height: 300px;
  object-fit: contain;
  width: 300px
}

.movieCard > h2 {
  padding-top: 10px;
}


